<!DOCTYPE html>
<html>
  <head>
    <title>RaMP</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container-fluid">
		<div class="col">
			<div class="row-1">
				<%= render partial: "layouts/navbar" %>
			</div>
			<div class="row">
				<div class="col">
					<div id="alerts"></div>
					<% if !@app_notify.empty? %>
						<div class="alert alert-primary" id="appNotify" role="alert">
							<%= @app_notify %>
						</div>
						<% @app_notify = '' %>
					<% end %>	
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
