<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ps</th>
      <th>Email</th>
      <th colspan="3"><%= link_to 'Wipe All', '/members/deleteall', :data => { :confirm => 'Are you sure? This can NOT be undone.' }, :class => "btn btn-primary"  %></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.ps %></td>
        <td><%= member.email %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>

